{% extends "base.html" %}

{% block content %}
<div>
  <p>Estimada coordinadora humanitaria, estimados colegas,</p>
  <p>
    El umbral del activador de acción del marco de acción anticipatoria para huracanes en Cuba ha sido alcanzado,
    conforme al pronóstico emitido a las {{ pub_time }}, {{ pub_date }} (hora local de Cuba) por el Centro Nacional de
    Huracanes de NOAA, el operador del Centro Meteorológico Regional Especializado Miami, y al pronóstico de
    precipitaciones CHIRPS-GEFS del CHC de UC Santa Barbara. El <a href="https://www.insmet.cu/">Comunicado de actividad
      ciclónica</a> publicado por el Instituto de Meteorología de Cuba confirma los pronósticos de NOAA.
  </p>
  <p>
    Todas las actividades conforme al <a
      href="https://reliefweb.int/report/fiji/fiji-tropical-cyclones-2023-anticipatory-action-framework">documento del
      marco</a> deben comenzar ahora. OCHA puede convocar una reunión de los socios participantes.
  </p>
  <p>Saludos cordiales y buena suerte,</p>
  <p>Centro de Datos Humanitarios OCHA</p>
  <p>
    PD: No olviden que el impacto de este proyecto piloto será evaluado y alentamos a todos los socios a documentar de
    la mejor manera las decisiones y lecciones aprendidas durante esta activación. Finalmente, por favor asegúrense
    también de que todos los visuales, historias y medios sociales sean compartidos con el grupo.
  </p>
</div>
{% endblock content %}