{% extends "base.html" %}

{% block content %}
<div>
  <p>
    Estimadas autoridades nacionales,<br>
    Estimado Coordinador/a Residente,<br>
    Estimados/as colegas de OCHA ROLAC,
  </p>
  <p>
    Queremos informarles que se ha alcanzado el disparador de observación/respuesta temprana del marco colectivo de
    acción anticipatoria para huracanes en Cuba, conforme a los datos observacionales emitidos durante las últimas 48
    horas por el Centro Nacional de Huracanes de NOAA y los datos de precipitaciones IMERG de NASA.
  </p>
  <p>
    Se proporcionarán actualizaciones adicionales según corresponda.
  </p>
  <p>
    Gracias por su continuo compromiso con la acción anticipatoria.
  </p>
  <p>
    Atentamente,
  </p>
  <p>
    Centro de Datos Humanitarios de OCHA
  </p>
  <strong>Contacto</strong>

  Contacte al Centro de Datos Humanitarios de OCHA a través de Raquel Peña, punto focal para acción anticipatoria en
  Cuba en raquel.pena@un.org para cualquier pregunta o comentario.
</div>
{% endblock content %}

{% block content_en %}
<div>
  <p>
    Dear national authorities,<br>
    Dear Resident Coordinator,<br>
    Dear OCHA ROLAC colleagues,
  </p>
  <p>
    We want to inform you that the observation/early response trigger of the collective anticipatory action framework
    for hurricanes in Cuba has been reached, according to observational data issued during the last 48 hours by the NOAA
    National Hurricane Center and NASA IMERG precipitation data.
  </p>
  <p>
    Additional updates will be provided as appropriate.
  </p>
  <p>
    Thank you for your continued commitment to anticipatory action.
  </p>
  <p>
    Sincerely,
  </p>
  <p>
    OCHA Centre for Humanitarian Data
  </p>
  <strong>Contact</strong>

  Contact the OCHA Centre for Humanitarian Data through Raquel Peña, focal point for anticipatory action in Cuba at
  raquel.pena@un.org for any questions or comments.
</div>
{% endblock content_en %}