{% extends "base.html" %}

{% block content %}
<div>
  <p>
    Estimadas autoridades nacionales,<br>
    Estimado Coordinador/a Residente,<br>
    Estimados/as colegas de OCHA ROLAC,
  </p>
  <p>
    Queremos informarles que se ha alcanzado el disparador de observación/respuesta temprana del marco colectivo de
    acción anticipatoria para huracanes en Cuba, conforme a los datos observacionales emitidos durante las últimas 48
    horas por el Centro Nacional de Huracanes de NOAA y los datos de precipitaciones IMERG de NASA.
  </p>
  <p>
    Se proporcionarán actualizaciones adicionales según corresponda.
  </p>
  <p>
    Gracias por su continuo compromiso con la acción anticipatoria.
  </p>
  <p>
    Atentamente,
  </p>
  <p>
    Centro de Datos Humanitarios de OCHA
  </p>
</div>
{% endblock content %}