{% extends "base.html" %}

{% block content %}
<div>
  <p>Estimado/a Coordinador/a Residente, estimados/as socios</p>
  <p>
    Después de haberlo confirmado con el gobierno y de acuerdo con lo indicado
    por los pronósticos queremos informarles que se ha alcanzado el
    desencadenante de alistamiento del marco de acción anticipatoria coordinada
    para huracanes y tormentas en Cuba, conforme al pronóstico a 120 horas.
  <p>
    Se proporcionarán actualizaciones adicionales según corresponda.
  </p>
  Gracias por su continuo compromiso con la acción anticipatoria.
  </p>
  <p>
    Atentamente,
  </p>
  <p>Centro de Datos Humanitarios OCHA</p>
</div>
{% endblock content %}