{% extends "base.html" %}

{% block content %}
<div>
  <p>
    Estimadas autoridades nacionales,<br>
    Estimado Coordinador/a Residente,<br>
    Estimados/as colegas de OCHA ROLAC,
  </p>
  <p>Queremos informarles que se ha alcanzado el disparador de alistamiento del marco colectivo de acción anticipatoria
    para huracanes en Cuba, conforme al pronóstico a 120 horas emitido a las {{ pub_time }}, {{ pub_date }} (hora local
    de Cuba) por el Centro Nacional de Huracanes de NOAA.</p>

  <p>Se proporcionarán actualizaciones adicionales según corresponda.</p>

  <p>Gracias por su continuo compromiso con la acción anticipatoria.</p>
  <p>
    Atentamente,
  </p>
  <p>
    Centro de Datos Humanitarios de OCHA
  </p>
</div>
{% endblock content %}